.react-stopwatch-timer__table{
  height: 200px;
  width: 200px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.react-stopwatch-timer__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.react-stopwatch-timer__element {
  position: absolute;
  height: 15px;
  width: 2px;
  transition: all 500ms ease;
}